# top-most EditorConfig file
root = true

# For all files
[*]
insert_final_newline = true
tab_width = 2

[*.cs]
tab_width = 4

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# SA1001: Commas should be spaced correctly
dotnet_diagnostic.SA1001.severity = none

# Verify settings
[*.{received,verified}.{txt,xml,json,cs}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
